{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="home-intro">
        <h1 class="home-name">Pierre Bailly - Carte de développeur</h1>
        <img class="home-profile-picture" src="{{ asset('build/images/profilePicture.jpg') }}" alt="profile picture"/>
        <h2 class="home-badge-title">Badges</h2>
        <div class="home-badges">
            <img class="logo php-logo" src="{{ asset('build/images/symfonyLogo.png') }}" alt="profile picture"/>
            <img class="logo sf-logo" src="{{ asset('build/images/symfonyLogo.png') }}" alt="profile picture"/>
            <img class="logo mysql-logo" src="{{ asset('build/images/symfonyLogo.png') }}" alt="profile picture"/>
            <img class="logo twig-logo" src="{{ asset('build/images/symfonyLogo.png') }}" alt="profile picture"/>
            <img class="logo js-logo" src="{{ asset('build/images/symfonyLogo.png') }}" alt="profile picture"/>
            <img class="logo html-logo" src="{{ asset('build/images/symfonyLogo.png') }}" alt="profile picture"/>
            <img class="logo css-logo" src="{{ asset('build/images/symfonyLogo.png') }}" alt="profile picture"/>
        </div>
    </section>
{% endblock %}
