{% extends 'base.html.twig' %}

{% block title %}Pierre Bailly développeur web developer{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="landing-page-container">
        <section class="intro-title">
             <h1 class="hello">Hello, <br> I'm Pierre.</h1>
            <h2 class="work-title">Web developer</h2>
            <p class="intro">I'm currently looking for a new adventure <br> working remotely or around Nantes as a web developer.</p>
            <div class="navbar-like-container">
                <button class="nav-button"><a href="{{ path('app_poke') }}">Search</a></button>
                <button class="nav-button"><a href="{{ path('app_poke') }}">List</a></button>
                <button class="nav-button"><a href="{{ path('app_poke') }}">Team</a></button>
                <button class="nav-button"><a href="{{ path('app_poke') }}">Other</a></button>
            </div>
        </section>
        <section class="info-cards">
            <div class="contact-me intro-button" id="contact-me">
                <div class="card-content">
                    <h3>Contact me</h3>
                    <ion-icon class="icon" name="mail-unread-outline"></ion-icon>
                </div>
            </div>
            <div class="know-me intro-button" id="know-me">
                <div class="card-content">
                    <h3>Get to know me</h3>
                    <ion-icon class="icon" name="finger-print-outline"></ion-icon>
                </div>
            </div>
            <div class="my-skills intro-button" id="my-skills">
                <div class="card-content">
                    <h3>What can I do</h3>
                    <ion-icon class="icon" name="newspaper-outline"></ion-icon>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
