{% extends 'base.html.twig' %}

{% block title %}Hello PokeController!{% endblock %}

{% block body %}
    <div class="searchType">
        {{ form_start(form) }}
        {{ form_row(form.pokemon) }}
        <button type="submit">Let's go !</button>
        {{ form_end(form) }}
    </div>
    {% if errors is empty %}
    <div class="pokemonImage">
        <img src="{{ asset(imageResult) }}" alt="{{ callResult.name }}">#}
    </div>
    {{ dump('O' ~ callResult.id) }}
    {% else %}
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
